/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  border: none;
}
body {
  color: var(--clr-black)
}

/* actual styles */
.container{
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(to bottom right, #5761b2, #1fc5a8);
}

.todo-app{
  width: 100%;
  max-width: 550px;
  background: #fff;
  margin: 150px auto ;
  border-radius: 10px;
  padding: 2rem 2rem;
}
/* heading */
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.left,
.right{
  display: flex;
  align-items: center;
}
.left h1{
  font-size: 1.6rem;
}
.left img{
  height: 2rem;
  margin-left: 0.7rem;
}
.right{
  padding: 10px;
  background: rgba(5, 210, 5, 0.628);
  position: relative;
  color: #fff;
}
/* input section */
.input-box{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  background: var(--clr-grey-10);
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
#input-text{
  flex: 1;
  padding: 10px;
  padding-left: 1.5rem;
  background: var(--clr-grey-10);
  color: var(--clr-grey-4);
  font-size: 1rem;
}
#submit{
  padding: 1rem 2.3rem;
  border-radius: 2rem;
  color: #fff;
  background: #ff6c2f;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* list section */
.list-container{
  width: 100%;
}
.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 10px;
}
.task-list{
  margin-bottom: 1rem;
}

.title{
  font-size: 1.2rem;
  font-weight: 500;
}
.btn-container button{
  background: #fff;
  cursor: pointer;
  margin-left: 1rem;
  transition: var(--transition);
}
.edit-btn:hover{
  color: #ff6c2f;
}
.delete-btn:hover{
  color:red;
}


/* checkbox */

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }
 
 .check-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
 }
 
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ff6c2f;
  border-radius: 5px;
  transition: all 0.5s;
 }
 
 .check-container input:checked ~ .checkmark {
  background-color: rgba(5, 210, 5, 0.628);
  border: 2px solid rgba(5, 210, 5, 0.628);
 }
 
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  filter: drop-shadow(0 0 10px #888);
 }
 
 /* Show the checkmark when checked */
 .check-container input:checked ~ .checkmark:after {
  display: block;
 }
 
 /* Style the checkmark/indicator */
 .check-container .checkmark:after {
  left: 0.3em;
  top: 0.05em;
  width: 0.3em;
  height: 0.65em;
  border: solid #343434;
  border-width: 0 0.2em 0.2em 0;
  border-radius: 4px;
  transform: rotate(45deg);
  animation: bounceFadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }
 
 @keyframes bounceFadeIn {
  from {
   transform: translate(0, -10px) rotate(45deg);
   opacity: 0;
  }
 
  to {
   transform: translate(0, 0) rotate(45deg);
   opacity: 1;
  }
 }

/* clear btn */
.clear-btn{
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  background-color: rgba(240, 16, 16, 0.912);
  border-radius: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
}

